<div class="home">
   
            <div>
    <img src="../../assets/logo/logo.png" alt="">
    </div>
     <!-- <div>
        <input type="text"   placeholder="search">
    </div> -->
    <div class="title"><h1>FMART</h1></div>
    <div class="details">
        <div class="profileicon">
    <i routerLink="cart" class="fa-solid fa-cart-shopping" style="color: #808080;"><div class="name">Cart</div></i>
    </div>
    <div class="profileicon">
    <i class="fa-regular fa-heart" style="color: #808080;" routerLink="like"><div class="name">Like</div></i>
    </div>
    <div class="profileicon">
       
    <i  class="fa-regular fa-user" style="color: #808080;"></i> <div class="name">{{name}}</div>
    
    </div>
    <br>
    
</div>
     

</div>