<body>
    

<footer >
    
    <div class="con1" >
      
    <div class="Corporate" >
    <h3><b>Corporate</b></h3>
    <a href="#">Home</a>
    <a href="#">About</a>
    <a href="#">Contect us</a>
    <a href="#">Help</a>
</div>
<div class="Corporate" >
    <h3><b>Corporate</b></h3>
    <a href="#">Home</a>
    <a href="#">About</a>
    <a href="#">Contect us</a>
    <a href="#">Help</a>
</div>
<div class="Corporate" >
    <h3><b>Corporate</b></h3>
    <a href="#">Home</a>
    <a href="#">About</a>
    <a href="#">Contect us</a>
    <a href="#">Help</a>
</div>
</div>
<hr>
<div class="links"> 
    <h4>Check Out Here</h4>
<img src="../../assets/footer/instagram.jpg" alt="">
<img src="../../assets/footer/facebook.jpg" alt="">
<img src="../../assets/footer/linkedin.jpg" alt="">
<img src="../../assets/footer/twitter.jpg" alt="">
<img src="../../assets/footer/youtube.jpg" alt="">

</div>
<div class="copyright"><i class="fa-regular fa-copyright" style="color: #808080;"></i> Copyright Bala Sankar </div>

</footer>

</body>