<div class="about">
<section class="sec1">
<img src="../../assets/logo/logo.png" alt="" data-aos="flip-left"
     data-aos-easing="ease-out-cubic"
     data-aos-duration="2000">
<div data-aos="fade-up " data-aos-duration="2000">
    <h2 class="abouttitle">About Us</h2>
    Established in 2023, <span style="font-size: 30px;font-weight:bold"> FURNITURE MART</span> has been a trusted name in the furniture industry for 1 month. Our journey began with a simple vision: to offer an extensive selection of furniture that combines comfort, durability, and aesthetics at affordable prices.
</div>
</section>
<section>
    <div class="con1">
        <div class="con1img">

            <img src="../../assets/about/wood.png" alt="" data-aos="fade-right" data-aos-duration="2000">
           <div class="conp">
            <p>WOOD</p>
        </div> 
        </div>
        <div class="con1img">
            <img src="../../assets/about/steel.png" alt="" data-aos="fade-down" data-aos-duration="2000">
            <p>STEEL</p>
        </div>
        <div class="con1img">
            <img src="../../assets/about/plastic.png" alt=""  data-aos="fade-left" data-aos-duration="2000">
            <p>PLASTIC</p>
        </div>
    </div>
</section>
</div>
