<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="bg">
        <div class="a">
            <img src="../../assets/background/contbg.jpg" alt="">
        </div>
        <div class="b" data-aos="zoom-out-up" data-aos-duration="2000">
            <h1 >About FMART</h1>
           <p > <span>FMart</span> is a distinguished <span>Online Furniture Marketplace</span> committed
             to providing a seamless and enriching shopping experience for customers seeking quality, style,
              and functionality in home furnishings. Our platform boasts an extensive collection of handpicked
               furniture pieces, ranging from contemporary to classic designs, ensuring a diverse selection for
                every taste and lifestyle.</p>
            <p>At FMart, customer satisfaction is paramount. Our user-friendly interface, coupled with
                 responsive customer support, aims to simplify the furniture shopping process. Whether
                  you're furnishing a new space or upgrading your current environment, FMart offers a 
                  curated range of products to transform your vision into reality.   </p>
            <p>Collaborating with reputable suppliers and manufacturers, FMart guarantees the highest
                 quality standards and durability in every piece. From cozy sofas to elegant dining
                  sets, our inventory showcases the latest trends in the furniture industry, ensuring your
                   home reflects your unique style.</p>

            <div>
                <h1>Join Us</h1>
            </div>
            <div class="socialmedia">
            <img src="../../assets/footer/instagram.jpg" alt="">
            <img src="../../assets/footer/facebook.jpg" alt="">
            <img src="../../assets/footer/linkedin.jpg" alt="">
            <img src="../../assets/footer/twitter.jpg" alt="">
            <img src="../../assets/footer/youtube.jpg" alt="">
        </div>
        </div>
        
    </div>
</body>
</html>