<div class="thiscart">
    <h1>This is Cart Page</h1>

</div>
<div class="products">
    <div class="cart" *ngFor="let item of Cart;let ind=index">
        
        <div><img src="{{item.img}}" alt=""></div>
        <div class="cartitems">
         <div><p>{{item.title}}  </p></div>
         
        <div><p>Rating: {{item.rating}}</p></div>
        <div><p id="{{'wave'+ind}}">Rs.{{item.mrp | currency:'INR'}}</p></div>
        <div><p>Discount{{item.discount}}</p></div>
        <div style="display: flex; gap: 10px;"><p id="{{'price'+ind}}">Price:{{item.price}}</p>
            <span id="{{'save'+ind}}" style="color: white; font-size: 14px; background-color: green;padding: 3px;border-radius: 4px;">Save {{saved[ind]}}</span></div>
        <br>
        <div class="buttons">
        <div class="Quan">
            <button (click)="minus(ind)"><i class="fa fa-minus"></i></button>
            <input type="text" [value]="Increment[ind]" style="inline-size: 30px;">
            <button (click)="plus(ind)"><i class="fa fa-plus"></i></button>
        </div>
        <div class="buy">
            <button (click)="buynow(item.title,item.mrp,item.price)">Buy Now</button>
        </div>
        <div class="delete">
            <button (click)="deletecart(ind,this.item.title)">Delete</button>
        </div>
        </div>
            
    </div>
    </div>
</div>
