<!-- <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<h1>{{furnituredata}}</h1>
<div  class="wood">
    
    <div class="card" *ngFor="let image of furnitureimage;let index=index">
        <img src="{{image.img}}" alt="">
        <h4>{{image.title}}</h4>
        <a routerLink="/productlist"><button>Details</button></a>
    </div>
   
</div> -->
