/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Kaushan+Script&family=Signika+Negative&family=Tilt+Prism&display=swap');

.card{
    padding-top: 20px;
    border-radius:20px ;
    margin: 50px;
    text-align: center;
    block-size:400px;
    inline-size: 300px;
    outline: 1px solid black;
    background-color: #fff;
    
}
.wood img{
    height: 200px;
    border-radius: 20px;
}
.wood{
    display: flex;
    flex-direction: row;
    gap: 50px;
    background-color: lightgray;
    margin-left: 70px ;
    margin-right: 70px;
    padding-left: 50px;
    margin-top: 40px;
}
h1{
   text-align: center;
   margin-top: 30px;
   background-color: lightyellow;
   color:brown;
   outline: 2px solid rgb(189, 182, 182);
   inline-size: 200px;
   margin-left: 650px;
    
}
.card h4{
    margin-top: 50px;
    font-size: 25px;
    color:gray;
    font-family: 'Dancing Script', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Signika Negative', sans-serif;
font-family: 'Tilt Prism', cursive;
font-family: 'Varela Round', sans-serif;    
}
.wood button{
    margin: 50px;
    inline-size: 80px;
    block-size: 30px;
    border-radius: 20px;
    font-size: 15px;
    background-color: var(--blue);
    border: none;
    color: yellow;


}
.wood button:hover{
    background-color: yellow;
    color: var(--blue);
}
.wood a{
    text-decoration: none;
} */